{% extends "staff_panel/panel.html" %}
{% block page_title %}Transaction Purpose{% endblock %}

{% block main_content %}
<form method="post" class="form">
  {% csrf_token %}
  {{ form.non_field_errors }}
  
  <div class="mb-3">
    {{ form.type.label_tag }}  
    {{ form.type }}
  </div>

  <div class="mb-3">
    {{ form.note.label_tag }}
    {{ form.note }}
  </div>

  <div class="d-flex justify-content-between mt-4">
    <a href="{% url 'admin_wallet_detail' wallet.id %}" class="btn btn-sm btn-purple">Cancel</a>
    <button type="submit" class="btn btn-purple">Next</button>
  </div>
</form>
{% endblock %}
